@import '../src/assets/fonts/fonts.css';

*{
    padding: 0;
    margin: 0;
}
.wrapper {
    padding: 10px;
    width: 950px;
    height: 610px;
    transform-origin: top left;
    filter: brightness(95%);
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

.Sans-serif-bold{
  font-family: 'SansSerifBold', monospace;
  
}
.Sans-serif{
  font-family: 'SansSerif', sans-serif;
}
.OsName{
  font-family: monospace
}
.border-navbarIcon{
  border: 2px outset #c3c3c3;
}
.border-window{
  border: 2px outset #858585;
}
.border-window-inset{
  /* border: 1px inset #474747; */
  box-shadow: inset 1px 1px 1px #535353, 1px 1px 1px white;
}

.canvas{

}

















/* //textStyles */


