*{
    padding: 0;
    margin: 0;
}
.wrapper {
    padding: 10px;
    width: 950px;
    height: 610px;
    transform-origin: top left;
    filter: brightness(95%);
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

.Desktop{
  font-family: 'VT323', monospace;
}
.border-navbarIcon{
  border: 3px outset #c3c3c3;
}

.canvas{

}

















/* //textStyles */


